#menu {
  list-style: none;
  padding: 1rem;

  .sidebar-header {
    font-weight: 600;
    font-size: .9rem;
    padding: 0.5rem 1rem;
    text-transform: uppercase;
    color: $gray-600;
    font-family: $headings-font-family;
    letter-spacing: .1rem;
  }

  hr.sidebar-divider {
    margin: 1rem;
    border-color: $gray-300;
  }

  .sidebar-item {
    .sidebar-link {
      border-radius: .35rem;
      display: flex;
      width: 100%;
      text-decoration: none;
      color: $gray-700;
      padding: 0.5rem 1rem;
      align-items: center;
      transition: all .2s;

      // Inner Nav ========================================
      .icon {
        width: 1.25rem;
        margin-right: .75rem;
      }

      .right {
        margin-left: auto;
        z-index: 1;
        position: relative;
      }
      // Inner Nav ========================================

      &.has-arrow::after {
        border-width: 0 0 2px 2px;
        border-color: $gray-600;
        z-index: 0;
        right: 1.25rem;
      }

      // Action Property ========================================
      &:hover {
        background: rgba($primary, .1);
        color: $primary;

        &::after {
          border-width: 0 0 2px 2px;
          border-color: $primary;
        }
      }

      &:focus {
        background: rgba($primary, 1);
        color: $white;

        &::after {
          border-width: 0 0 2px 2px;
          border-color: $white;
        }
      }
      // Action Property ========================================
    }

    &.mm-active {
      .sidebar-link {
        background: rgba($primary, 100%);
        color: $white;

        &::after {
          border-width: 0 0 2px 2px;
          border-color: $white;
        }
      }
    }

    ul.submenu {
      list-style: none;
      padding: 0;

      .submenu-wrapper {
        padding-left: 0.5rem;
        padding-bottom: 0.5rem;
        padding-top: 0.5rem;
        border-left: 1px solid $gray-300;
        margin-left: 1.5rem;

        .submenu-heading {
          font-size: .9rem;
          text-transform: uppercase;
          color: $gray-600;
          font-family: $headings-font-family;
          letter-spacing: .1rem;
          font-weight: bold;
          padding-left: 1rem;
          margin-bottom: .25rem;
        }

        .submenu-item {
          position: relative;

          &:before {
            content: '';
            border: 1px solid $gray-300;
            border-radius: 50%;
            width: 1rem;
            height: 1rem;
            display: flex;
            top: 0.75rem;
            position: absolute;
            left: -1rem;
            background: #fff;
          }

          ~ .submenu-heading {
            margin-top: 1rem;
          }

          .submenu-link {
            display: flex;
            font-size: .9rem;
            justify-content: space-between;
            text-decoration: none;
            color: $gray-600;
            padding: 0.5rem 1rem;
            transition: all .2s;

            // Action Property ========================================
            &:hover, &:focus {
              color: $primary;
            }
            // Action Property ========================================

            &.has-arrow::after {
              border-width: 0 0 2px 2px;
              border-color: $gray-600;
              z-index: -1;
              right: 1.25rem;
            }

            // Action Property ========================================
            &:hover, &:focus {
              color: $primary;

              &::after {
                border-width: 0 0 2px 2px;
                border-color: $primary;
              }
            }
            // Action Property ========================================
          }

          &.mm-active {
            >.submenu-link {
              color: $primary;

              &::after {
                border-width: 0 0 2px 2px;
                border-color: $primary;
              }
            }
          }

          ul.submenu {
            .submenu-wrapper {
              margin-left: 1rem;
              border-color: $gray-300;
            }
          }
        }
      }
    }
  }
}
