.sidebar-title {
  display: flex;
  padding: 1rem;
  justify-content: center;
  align-items: center;

  @include media-breakpoint-down('lg') {
    justify-content: space-between;
  }

  .sidebar-img {
    display: flex;
    height: 30px;
  }

  @include media-breakpoint-up('lg') {
    [data-trigger="sidebar-toggler"] {
      display: none;
    }
  }
}
