// Dimmed regular btn
@mixin button-dimmed($name, $background, $color: $background, $hover-bg: lighten($background, 10%)) {
  background: rgba($background, 7.5%);
  border-color: transparent;

  &:hover {
    background: $hover-bg;
    border-color: $hover-bg;

    @if $name == 'light' {
      color: $dark;
    } @else {
      color: $color;
    }
  }

  &:focus {
    background: $hover-bg;
    border-color: $hover-bg;
    box-shadow: 0 0 0 .2rem rgba($hover-bg, .2);

    @if $name == 'light' {
      color: $dark;
    } @else {
      color: $color;
    }
  }

  @if $name == 'light' {
    color: $dark;
  } @else {
    color: $color;
  }
}

// Dimmed regular btn
@mixin button-outline-dimmed($name, $background, $color: $background, $hover-bg: lighten($background, 10%)) {
  background: rgba($background, 7.5%);
  border-color: rgba($background, .25);

  &:hover {
    background: $hover-bg;
    border-color: $hover-bg;

    @if $name == 'light' {
      color: $dark;
    } @else {
      color: $color;
    }
  }

  &:focus {
    background: $hover-bg;
    border-color: $hover-bg;
    box-shadow: 0 0 0 .2rem rgba($hover-bg, .2);

    @if $name == 'light' {
      color: $dark;
    } @else {
      color: $color;
    }
  }

  @if $name == 'light' {
    color: $dark;
  } @else {
    color: $color;
  }
}
